.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-rows: repeat(1);
    margin-top: 200px;
}

.profile-container {
    min-width: max-content;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 450px;
}

.logout-button {
    
}